<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    <h5><%= @order.email%></h5>
    <h3> <small>Your Order Total:</small> 
    <%= humanized_money_with_symbol @order.total_cents/100%></h3>
    <hr>
    <% @passed_cart.each do |item| %>
        <%= render 'item', product: item[:product], quantity: item[:quantity].to_i %>
    <% end %>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>